:root {
    --topic-font-family: Arial;
    --circle-inner-background-color: #fff;
    --banner-text-color: #fff;
    --topic-text-color : #FFF;
    --no-topic-light-color : #F7D33B;
    --no-topic-dark-color :#DEC554;
    --no-topic-text-color : #6F632A;
    --topic-one-light-color : #F78D3B;
    --topic-one-dark-color : #CD7531;
    --topic-two-light-color : #F04B48;
    --topic-two-dark-color : #CD3431;
    --topic-three-light-color :#2F8BD2;
    --topic-three-dark-color : #2071B0;
    --topic-four-light-color :#3AA15E;
    --topic-four-dark-color : #2E7F4A;
    --topic-five-light-color :#99B344;
    --topic-five-dark-color : #7C9137;
  }