.container {
    gap: 0;
}

.box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.boxRightTop{
    border-top-right-radius: 105px 105px;
    margin-bottom: 0px;
    padding-right: 30px;
    padding-top: 40px;
    height : 200px;
    width : 190px;
}

.boxLeftTop{
    border-top-left-radius: 105px 105px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-top: 40px;
    height : 200px;
    width : 190px;
}

.boxLeftBottom{
    border-bottom-left-radius: 105px 105px;
    margin-top: 0px;
    padding-top: 40px;
    padding-left: 30px;
    height : 200px;
    width : 190px;
}

.boxRightBottom{
    border-bottom-right-radius: 105px 105px;
    margin-top: 0px;
    padding-top: 30px;
    padding-right: 30px;
    height : 210px;
    width : 190px;
}

.triangle {
    width: 0;
    height: 0;
    border-right: none;
    border-left: 124px solid var(--no-topic-light-color);
    border-top: 117px solid transparent;
    border-bottom: 117px solid transparent;
    padding: 0px;
}

.prize {
    margin-top: 20px;
    margin-bottom: 20px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('prize.png');
    border-style: none;
}